//
//  Config.xcconfig
//  Todo_App
//
//  Created by admin on 31/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SupaBase_KEY =

SupaBase_URL =

key_refreshToken =
key_accessToken = 
