//
//  Config.xcconfig
//  Todo_App
//
//  Created by admin on 31/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SupaBase_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImltZWp6ZXV5aHNvcXBpYmlleWpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1NzMyMjEsImV4cCI6MjA3NjE0OTIyMX0.PEyDllRl2SzyGqIWXrczmwgainWQuakdZYJCa_OUrB4

SupaBase_URL = imejzeuyhsoqpibieyjh.supabase.co

key_refreshToken = com.newWave.refresh_token
key_accessToken = com.newWave.access_toke
